<template>
  <div>
    <div class="flex flex-wrap items-center mb-8">
      <span>Filter on price </span>
      <div class="ml-5 -mt-3">
        <vue-slider :width="200" :min="0" :max="500" v-model="rangeValue" @change="filterByRange"></vue-slider>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex';
export default {
  data() {
    return {
      rangeValue: [0, 500],
    }
  },

  methods: {
    filterByRange() {}
  }
}

</script>
