<template>
  <div>
    <div class="flex flex-wrap bg-white rounded-md shadow-md p-8 mb-6" v-for="(shift, index) in shifts" :key="index">
      <div class="w-full flex flex-wrap justify-between items-center">
        <div class="text-dark-gray text-2xl">{{shift.title}}</div>
        <div @click="editShift(shift,index)">
          <font-awesome-icon class="text-black" style="font-size: 1.5em;" :icon="['fas', 'edit']" />
        </div>
      </div>
      <div class="flex flex-wrap items-center mb-4">
        <p class="w-full text-dark-gray text-md">
          {{shift.description}}
        </p>
      </div>
      <div class="flex flex-wrap w-full">
        <h2 class="text-dark-gray text-2xl font-bold w-full">Dates</h2>
      </div>
      <div class="w-full flex flex-wrap items-center justify-around bg-dark-gray text-white rounded-md py-3 my-2" v-for="(shiftTime, key) in shift.timing" :key="key">
        <div>{{shiftTime.date}}</div>
        <div>{{shiftTime.starttime}}</div>
        <div>{{shiftTime.endtime}}</div>
        <div>{{shiftTime.type}}</div>
        <div>{{shiftTime.price}}</div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ['shifts'],
  methods: {
    editShift(shift, index) {
      this.$emit('editShift', { shift, index });
    }
  }
}

</script>
