<template>
  <div>
    <div class="w-full flex flex-wrap absolute overflow-hidden top-0 right-0">
      <div class="h-full">
        <div class="flex flex-wrap">
          <h2 class="text-dark-gray text-2xl font-bold mb-4">Edit</h2>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3 mb-6 md:mb-0">
            <label class="block tracking-wide text-gray-700 text-sm font-bold mb-2">Title</label>
            <input v-validate="'required'" v-model="shiftsData.title" name="title" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text" />
            <div class="validate-error-msg text-red-500 text-sm">
              <span class="caption" v-if="errors.has('title')">
                {{
                errors.first('title')
                }}
              </span>
            </div>
          </div>
          <div class="w-full px-3 mb-6 md:mb-0">
            <label class="block tracking-wide text-gray-700 text-sm font-bold mb-2">Description</label>
            <textarea v-validate="'required'" v-model="shiftsData.description" data-vv-as="description" name="description" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></textarea>
            <div class="validate-error-msg text-red-500 text-sm">
              <span class="caption" v-if="errors.has('description')">{{
                errors.first('description')
                }}</span>
            </div>
          </div>
          <div class="w-full px-3 mb-6 md:mb-0">
            <label class="block tracking-wide text-gray-700 text-sm font-bold mb-2">Dates</label>
            <date-picker @change="selectedDateHandler" class="w-full" :multiple="true" v-model="shiftsData.dates" value-type="format" format="DD-MM-YYYY" placeholder="Select date"></date-picker>
            <input v-validate="'required'" name="dates" data-vv-as="date" v-model="shiftsData.dates" v-show="false" />
            <div class="validate-error-msg text-red-500 text-sm">
              <span class="caption" v-if="errors.has('dates')">
                {{
                errors.first('dates')
                }}
              </span>
            </div>
          </div>
        </div>
        <!-- Seleted dates box -->
        <template v-if="shiftsData.timing.length > 0">
          <div class="flex flex-wrap w-full my-5" v-for="(shiftTime, index) in shiftsData.timing" :key="index">
            <div class="w-full flex flex-wrap items-center justify-between">
              <div>
                {{shiftTime.date}}
              </div>
              <div @click="removeDateTimeBoxHandler(index)">
                <font-awesome-icon class="text-black cursor-pointer" style="font-size: 1.5em;" :icon="['fas', 'times']" />
              </div>
            </div>
            <div class="flex flex-wrap -mx-2 text-white px-3 py-4 rounded-md bg-dark-gray">
              <div class="w-1/3 px-2">
                <label class="block tracking-wide text-white text-sm font-bold mb-2">Starttime</label>
                <input v-validate="'required'" v-model="shiftTime.starttime" :name="`starttime${index}`" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="number" />
              </div>
              <div class="w-1/3 px-2">
                <label class="block tracking-wide text-white text-sm font-bold mb-2">Endtime</label>
                <input v-validate="'required'" v-model="shiftTime.endtime" :name="`endtime${index}`" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="number" />
              </div>
              <div class="w-1/3 px-2">
                <label class="block tracking-wide text-white text-sm font-bold mb-2">Price</label>
                <input v-validate="'required'" v-model.number="shiftTime.price" :name="`price${index}`" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="number" />
              </div>
              <div class="w-full px-3 mb-6 md:mb-0 mt-4">
                <label class="block tracking-wide text-white text-sm font-bold mb-2">Type</label>
                <div class="relative">
                  <select v-validate="'required'" v-model="shiftTime.type" :name="`type${index}`" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                    <option>Consultation</option>
                    <option>Telephone</option>
                    <option>Ambulance</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                  </div>
                </div>
                <div class="validate-error-msg">
                  <span class="caption" v-if="errors.has('type')">
                    {{
                    errors.first('type')
                    }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </template>
        <div class="flex flex-wrap items-center justify-between">
          <button class="focus:outline-none px-16 rounded-md py-3 font-semibold border border-dark-gray text-dark-gray text-lg">Delete</button>
          <button class="focus:outline-none px-16 rounded-md py-3 font-semibold bg-dark-gray text-white text-lg" @click="saveShiftsHandler">Save</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapMutations } from 'vuex';

export default {
  props: {
    shifts: {
      type: Object,
      default: () => ({
        title: '',
        description: '',
        dates: null,
        timing: []
      })
    }
  },
  data() {
    return {
      shiftsData: this.shifts
    }
  },
  methods: {
    ...mapMutations({
      setShifts: 'common/setShifts'
    }),
    selectedDateHandler() {
      this.shiftsData.timing.push({
        date: '',
        starttime: '',
        endtime: '',
        price: '',
        type: '',
      })
    },
    removeDateTimeBoxHandler(index) {
      this.shiftsData.dates.splice(index, 1);
      this.shiftsData.timing.splice(index, 1);
    },
    resetForm() {
      this.shiftsData = {
        title: '',
        description: '',
        dates: null,
        timing: []
      };
      this.$validator.reset();
    },
    saveShiftsHandler() {
      this.$validator.validateAll().then(async (result) => {
        if (result) {
          this.shiftsData.dates.filter((date, key) => {
            this.shiftsData.timing[key].date = this.shiftsData.dates[key];
          });
          this.setShifts(this.shiftsData);
          this.resetForm();
        }
      });
    }
  }
}

</script>
<style>
input[type='date'],
.mx-input {
  height: 46px;
  @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight;
}

.mx-datepicker {
  @apply w-full;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

</style>
