<template>
  <div class="px-10 py-6 h-screen">
    <div class="grid grid-cols-12 gap-3">
      <div class="p-10 h-screen" :class="[toggle ? 'col-span-9': 'col-span-12']">
        <h2 class="text-dark-gray text-2xl font-bold mb-4">Filter</h2>
        <RangeSlider />
        <div class="flex flex-wrap items-center justify-between mb-8">
          <div class="text-dark-gray text-2xl font-bold">
            Shifts
          </div>
          <div>
            <button class="px-6 py-2 text-white bg-dark-gray text-lg rounded-md focus:outline-none" @click="toggleForm">ADD SHIFT</button>
          </div>
        </div>
        <template v-if="shiftsList">
          <Shifts :shifts="shiftsList" @editShift="editShift" />
        </template>
      </div>
      <div class="bg-white py-10 px-8 h-screen rounded-md shadow-md" v-if="toggle" :class="[toggle ? 'col-span-3': '']">
        <div class="relative w-full" v-if="toggle">
          <ShiftForm :shifts="shifts" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapMutations } from 'vuex';
import RangeSlider from '@/components/common/RangeSlider'
import Shifts from '@/components/common/Shifts'
import ShiftForm from '@/components/common/ShiftForm'
export default {
  components: {
    RangeSlider,
    Shifts
  },
  data() {
    return {
      toggle: false,
      shifts: {
        title: '',
        description: '',
        dates: null,
        timing: []
      },
    }
  },
  computed: {
    ...mapGetters({
      getShifts: 'common/getShifts'
    }),
    shiftsList() {
      return this.getShifts;
    }
  },
  methods: {
    ...mapMutations({
      setShifts: 'common/setShifts'
    }),
    toggleForm() {
      this.toggle = !this.toggle;
    },
    editShift(obj) {
      this.shifts = obj;
    }

  }
}

</script>
